.dark-theme {
  --bgColor: #191b28;
  --containerColor: #34374b;
  --lableColor: #79797978;
  --fontColor: #ffffff;
  --primaryColor: #019934;
}
.light-theme {
  --bgColor: #f6f6f6;
  --containerColor: #ffffff;
  --lableColor: #8e8e8e;
  --fontColor: #191b28;
  --primaryColor: #019934;
}

body {
  background-color: var(--bgColor);
  color: var(--fontColor);
  padding: 10px;
}

* {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
